@import '/node_modules/reset-css/reset.css';


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}


input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  display: block;
}

*,
::before,
::after {
  box-sizing: border-box;
}